<footer>
        <ul>
            <li><a href="{{ path('main_home') }}">Home</a></li>
            <li><a href="{{ path('main_aboutUs') }}">About Us</a></li>
            <li>&copy Bucket-List | {{ 'now'|date('Y') }}</li>
        </ul>
</footer>
