<nav class="navbarMenu">
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_aboutUs') }}">About Us</a></li>
        <li><a href="{{ path('wish_list') }}">Wish List</a></li>
        <li><a href="{{ path('wish_create') }}">Create a new wish</a></li>
    </ul>
</nav>
