{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <h2>Create a wish</h2>
        {{ form_start(wishForm) }}
        {{ form_widget(wishForm) }}
        <br>
        <button >create a wish</button>
        {{ form_end(wishForm) }}
    </div>
{% endblock %}

{% block extrastyle %}
    <style>
        body{

            background-image: url('{{ asset('images/7023263.jpg') }}'), linear-gradient(rgba(255, 255, 255, 08), rgba(255, 255, 255, 0.6)) ;
        }
        footer{
            margin-top: 10vh;
            background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
            border-radius: 4px;
            padding:4px;
        }
    </style>
{% endblock %}
